.loader {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4rem 0;
    min-height: 100vh; /* Ensure full viewport height */
  }
  
  .loader img {
    width: 120px;
  }
  
  @media (max-width: 768px) {
    .loader img {
      width: 80px; /* Adjust loader size for smaller screens */
    }
  }
  