/* Search Form Styles */
.search-form {
  width: 100%;
  max-width: 680px;
  margin: 0 auto;
  outline: none;
}

/* Search Form Element Styling */
.search-form-elem {
  display: flex;
  align-items: center;
  padding: 1.4rem 2.8rem;
  border-radius: 3.8rem;
  outline: none;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Input Field Styling */
.search-form-elem .form-control {
  font-size: 2rem;
  padding: 0.6rem;
  outline: none;
  border: none;
  flex-grow: 1;
  border-radius: 3.8rem;
}

/* Placeholder Text Styling */
.search-form-elem .form-control::placeholder {
  opacity: 0.9;
  color: #888;
}

/* Button Styling */
.search-form-elem button {
  background-color: transparent;
  border: none;
  padding: 0.6rem;
  cursor: pointer;
}

/* Icon styling */
.search-form-elem button .text-purple {
  color: #6a2c91; /* Change the purple shade as needed */
}

/* Clear Button Styling */
.clear-btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0.6rem;
}

.clear-btn svg {
  color: #6a2c91; /* Purple color for the close icon */
}

/* Responsive design for smaller screens */
@media (max-width: 768px) {
  .search-form-elem {
    padding: 1rem 1.5rem;
  }

  .search-form-elem .form-control {
    font-size: 1.6rem;
  }

  .search-form-elem button .text-purple {
    font-size: 28px;
  }

  .clear-btn svg {
    font-size: 24px;
  }
}
