.book-add-popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  min-height: 100vh;
  background-color: rgba(0, 0, 0, 0.349);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
  padding-right: 8%;
}

.book-add-form {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  max-width: 400px;
  width: 80%;
  color: black;
}

.book-add-form h2 {
  margin-bottom: 15px;
  text-align: center;
}

.book-add-form label {
  display: block;
  margin-bottom: 10px;
}

.book-add-form input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.book-add-form .button-container {
  display: flex;
  justify-content: flex-end;
  margin-top: 15px;
}

.book-add-form button {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 10px;
}

.book-add-form button[type="submit"] {
  background-color: #3498db;
  color: #fff;
}

.book-add-form button[type="submit"]:hover {
  background-color: #2980b9;
}

.book-add-form button[type="button"] {
  background-color: #e74c3c;
  color: #fff;
}

.book-add-form button[type="button"]:hover {
  background-color: #c0392b;
}

#error-msg {
  color: red;
  font-weight: bold;
  text-align: center;
}

@media (max-width: 700px) {
  .book-add-popup {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.378);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
  }

  .book-add-form {
    width: 100%;
    max-width: 90%;
    padding: 15px;
  }
}
